// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signin_modal input[type=text], #signin_modal input[type=password] {
  width: 98%;
  height: 50px;
  font-size: 35px;
}

