@media print {
/* print.css */
body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10px;}
title {display: none};
.container {background:none;}
hr {background:#ccc;color:#ccc;width:50%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
code {font:.9em "Courier New", Monaco, Courier, monospace;}
a img {border:none;}
p img.top {margin-top:0;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:underline;}
a:link:after, a:visited:after {content:" (" attr(href) ")";font-size:90%;}

.wholepage {
  width: 500px;
  float: left;
}
.total_amount {
  float: left;
  }

.dontprint {display: none}

form#showbill {background: none; box-shadow: none; border: none; border-radius: none}

table.table-striped.table-bordered.table-condensed { box-shadow: none; background: none; border-top: 2px solid #F0F8FF; border-bottom: 2px solid #F0F8FF; border-left: none; border-right: none; border-radius: none; width: 70%;}
table.table-striped.table-bordered.table-condensed thead { box-shadow: none;  background: none; width: 100px;}
table.table-striped.table-bordered.table-condensed thead tr{ box-shadow: none;  background: none; width: 100px; }
table.table-striped.table-bordered.table-condensed thead tr th{ box-shadow: none;  background: none; padding: 5px;}
table.table-striped.table-bordered.table-condensed thead:first-child tr:first-child th:first-child { box-shadow: none; background: none; border-right: none; border-left: none; border-radius: none;}
table.table-striped.table-bordered.table-condensed thead:first-child tr:first-child { box-shadow: none; background: none; border-right:none; border-left: none; border-radius: none;}
table.table-striped.table-bordered.table-condensed thead tr td:first-child { box-shadow: none; background: white; border-right: none; border-left: none; border-radius: none; width: 100px;}
table.table-striped.table-bordered.table-condensed tbody { box-shadow: none; background: white; border-right: 1px solid #f0f8ff; border-left: 1px solid #f0f8ff; border-radius: none; width: 100px;}

.hide.print { display: inline;} 

#store_contacts { margin-bottom: 15px; }

span#thankyou { display: block; background: black;}

span#showcode { float:right; font-size: 8px;  }

span#billdate { float:left; font-size: 8px; }
}
