body {
  background-color: lightblue;
  color: darkblue;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

ul.item_headers_group {
  
  list-style: none;
  padding: 5px;
  width: 745px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 15px;
  li:first {
    background-color: green;
    }
    
  li.item_header {

    
    padding-left: 4em;
    padding-right: 1.5%;
    padding-top: 5px;
    padding-bottom: 5px;
    display:inline;
    
  }
}


.input-prepend.long {
  width: 247px;
}
